name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    # Runs at 8pm UTC, 4am at Beijing
    - cron: "0 20 * * *"

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
